<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../paper-spinner/paper-spinner.html">
<link rel="import" href="../iron-ajax/iron-ajax.html">

<dom-module id="data-manager">
  <template>
    <style>
      :host {
        display: block;
      }
      ul{
        list-style: none;
      }
    
    </style>
    
    <template is="dom-if" if="{{cargando}}">
      <paper-spinner active="{{cargando}}" class="orange"></paper-spinner>
    </template>
  

   
    
    <template is="dom-repeat" items="{{ab}}" as="usuario">
      <ul>
        <li>[[usuario.name]]</li>
      </ul>
    </template>


    <iron-ajax
        auto
        url="https://jsonplaceholder.typicode.com/users/"
        handle-as="json"
        last-response="{{ab}}"
        loading='{{cargando}}'
        >
    </iron-ajax>
  </template>

  <script>
    class DataManager extends Polymer.Element {
      static get is() { return 'data-manager'; }
      static get properties() {
        return {
          ab: {
            type: Object,
            value: () => {
              return {}
            },
            observer: '_success'
          },
          cargando: {
           type: Boolean,
           value: true
         }
        };
      }
      _success(e){
        this.cargando = false;
      }
    }

    window.customElements.define(DataManager.is, DataManager);
  </script>
</dom-module>
